import json
import requests

class {{class_name}}(object):
    __module__ = 'trello'

    def __init__(self, apikey, token=None):
        self._apikey = apikey
        self._token = token

    {{#methods}}
    def {{name}}(self, {{def_args}}):
        resp = requests.{{method}}({{url}}, {{args}})
        resp.raise_for_status()
        return json.loads(resp.content)

    {{/methods}}
